*.class

# Package Files #
#*.jar - comments out because of external dependencies jars - TODO use submodules?
*.war
*.ear

#bin folder
bin/*

#database restore folder
go2db/*

#dont commit logs
*.log
access_log
