
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);

body {
	text-align: center;
	color:#555;
	font-family: sans-serif;
}

h1 {
    color:#08f;
    font-size: 750%;
    font-weight: normal;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 16px;
    font-family: 'Fredoka One', sans-serif;
    text-shadow: 0 -1px #555, 1px 0 #555, 0 1px #555, -1px 0 #555;
}

form {
    text-align: center;
    white-space: nowrap;
}

input {
	color:#444;

    font-size: 140%;
    margin-bottom: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 10px;
    background:#eeeeff;
}

input:focus{
    outline: none;
	color: black;
}

p.error {
	color: red;
}
